# dependencies
node_modules

# sst
.sst
.build

# misc
.DS_Store

# local env files
.env*.local

remix-app/.cache
.cache
remix-app/server/index.js
remix-app/public/build
remix-app/build
remix-app/preferences.arc
remix-app/sam.json
remix-app/sam.yaml
