# dependencies
node_modules

# sst
.sst
.build

# misc
.DS_Store

# local env files
.env*.local

remix-app/.cache
.cache
.env
remix-app/server/index.js
remix-app/public/build
remix-app/build
remix-app/preferences.arc
remix-app/sam.json
remix-app/sam.yaml

services/functions/feed/services/build/
services/functions/feed/services/index.html